@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

:root {
  --background-color-dark: rgb(41, 41, 41);

  --background-color-light: #eeebeb;
  --text-color-light: rgb(41, 41, 41);
  --text-color-dark: #ffffff;


  --fonte--primaria: 'Krona One', sans-serif;
  --fonte--secundaria: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color-scheme: light dark;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--fonte--secundaria);

}

body.dark-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0px;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background-color-dark);
  z-index: 9999999;
  height: 2.5rem;
}

.dark-mode header {
  background-color: var(--background-color-light);

}

header img {
  height: 40px;
}

.menu-toggle {
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  display: none; /* esconder o botão de menu */
  margin: 12px;

}


body.dark-mode .menu-toggle {
  color: #e96f1d;
}

nav {
  display: flex;
}

.menu {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;

}

.menu a {
  color: #13a1da;
  text-decoration: none;
  font-family: var(--fonte--primaria);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

body.dark-mode .menu a {
  color: #e96f1d;
  font-weight: 700;

}

.menu a:hover {
  color: #e96f1d;
}

body.dark-mode .menu a:hover {
  color: #13a1da;
}


.menu.open{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-color-dark);
}

body.dark-mode .menu.open {
  background-color: var(--background-color-light);
}



/* The switch - the box around the slider */
#theme-toggle-button {
  display: flex;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  cursor: pointer;
  margin: 8px;
}

/* Hide default HTML checkbox */
#toggle {
  display: flex;
  justify-content: center;
  opacity: 0;
  width: 0;
  height: 0;
  align-items: center;

}




#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked+svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked+svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked+svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked+svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked+svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked+svg #stars {
  opacity: 1;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px 30px 5px 30px;
}

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;

}


.download {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  width: 40%;
  height: 4rem;
}

/* estilização para button de download  de curriculo e certificado*/
.button {
  --width: 15rem;
  --height: 4rem;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: Montserrat, sans-serif;
  transition: background 0.3s;
}

body.dark-mode .button{
  --button-color:  #f1670b;
  --tooltip-color: #fff;
}



.button::after, .button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.button-wrapper, .text, .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

body.dark-mode .button-wrapper, .text, .icon{
  color: #fff;
  font-weight: 700;
}

.text, .icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #5b8294;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before, .button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.apresentacao {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1.5rem;
  height: 50%;
}


.img-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-perfil img{
  width: 46%;
  height: 50%;
  border-radius: 8px;
}


.apresentacao__conteudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1.5rem;
  font-size: 1.25rem;
  height: 50%;
  padding-bottom: 1.5rem;
  font-family: var(--fonte--secundaria);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

strong {
  color: aqua;
  font-weight: 700;
}


body.dark-mode strong {
  color: #f1670b;
}


form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  gap: 2rem;

}


.mensagem{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}


.mensagem-text-input{
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box input {
  height: 1.5rem;
  width: 100%;
  resize: none;
  border-radius: 4px;
  padding: 4px;
  background-color: white;
  color: black;
  font-family: var(--fonte--secundaria);


}

textarea {
  height: 5rem;
  resize: none;
  border-radius: 4px;
  padding: 4px;
  background-color: white;
  color: black;
  font-family: var(--fonte--secundaria);
  width: 100%;
}

/* Estilização do botão de enviar mensagem */

.button-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-button {
  width: 15rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #1163ff;
  box-shadow: 0 0 0 2px #1163ff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  font-family: var(--fonte--secundaria);
}

body.dark-mode .animated-button {
  color: #e96f1d;
  box-shadow: 0 0 0 2px #e96f1d;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #ffffff;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

body.dark-mode .animated-button svg {
  fill: black;
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #1163ff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

body.dark-mode .animated-button .circle {
  background-color: #e96f1d;
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);

}

body.dark-mode .animated-button .text {
  color: black;
}


.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

body.dark-mode .animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
  color: rgb(255, 255, 255);
}

body.dark-mode .animated-button:hover .text {
  transform: translateX(12px);
  color: rgb(0, 0, 0);
}


.animated-button:hover svg {
  fill: #fdfdfd;
}


body.dark-mode .animated-button:hover svg {
  color: black;
}


.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #1163ff;
}


body.dark-mode .animated-button:active {
  box-shadow: 0 0 0 2px #e96f1d;

}


.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


.redes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}


.links {
  display: flex;
  gap: 2rem;
  transition: 500ms linear;

}

.links a:hover {
  transform: scale(1.1);

}

.titulo_destaque {
  font-size: 2.25rem;
  font-family: var(--fonte--primaria);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.subtitulo {
  font-size: 1.25rem;
  font-family: var(--fonte--secundaria);
  padding-bottom: 2rem;
  text-align: justify;

}

#meus_projetos {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.repositorio {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 7.5rem;
}


.projeto {
  display: flex;
  box-shadow: 0 0 10px 0 rgba(203, 201, 201, 0.8);
  box-sizing: border-box;
  text-align: justify;
  width: 16rem;
  height: 27rem;
  transition: 500ms linear;
  border-radius: 6px;


}

.projeto:hover {
  transform: scale(1.05);
}

.projeto img {
  width: 100%;
  height: 50%;
}

.projeto p {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.8rem;


}

a {
  text-decoration: none;
  color: var(--text-color-dark), var(--text-color-light);
  font-family: var(--fonte--secundaria)
}

.mais:hover {
  color: #e96f1d;
}


footer {
  position: relative;
  width: 100%;
  background-color: #1163ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body.dark-mode footer {
  background-color: #e96f1d;
}

footer img {
  width: 5rem;
  height: 5rem;
}

footer p {
  color: #B9B9B9;
  font-family: var(--fonte--secundaria);
  font-weight: 500;
  padding-bottom: 1rem;

}


body.dark-mode footer p{
  color: #ffffff;
  font-weight: 500;

}

@media  (width <= 768px) {
  header{
    display: flex;
    justify-content: space-between;
    
    

  }
  
  #logo{
    display: none;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    gap: 1rem;
    border: white 1px solid;
    border-radius: 4px;
    width: 80%;
    padding: 1rem;
  }

  body.dark-mode .menu {
    border: var(--background-color-dark) 1px solid;
    border-radius: 4px;
    width: 80%;
    padding: 1rem;  
  }


  .menu-toggle {
    display: block;
   
  }

  .menu.open {
    display: flex;
  }

  .container{
    padding: 0px;
    padding-top: 3rem;
  }

  .icones img{  
    width: 4rem;

  }

  .button {
    --width: 10rem;
    --height: 4rem;
  }

  form{
    display: flex;
    padding: 5%;
  }

  .mensagem{
    display: flex;
    flex-direction: column-reverse;
  }

  .repositorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding-bottom: 2.5rem;
    width: 100%;

  }

  .projeto{
    width: 80%;
  }


  







}
