@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

:root {
  --background-color-dark: rgb(41, 41, 41);

  --background-color-light: #eeebeb;
  --text-color-light: rgb(41, 41, 41);
  --text-color-dark: #ffffff;


  --fonte--primaria: 'Krona One', sans-serif;
  --fonte--secundaria: 'Montserrat', sans-serif;
}

body {
  color-scheme: light dark;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;

  /*   word-break: break-all; 
 */
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: var(--background-color-light);
  transition: background-color 0.3s, color 0.3s;



  height: 2.5rem;

}

.dark-mode section {
  background-color: var(--background-color-dark);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 5rem;
  align-items: center;

}


ul a {
  color: #13a1da;
  font-family: var(--fonte--primaria);
  text-decoration: none;
  font-size: 1rem;
}

ul a:hover {
  color: #e96f1d;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px 30px 5px 30px;
}

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3.5rem;

}


.download {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  width: 40%;
  height: 4rem;
}

/* 
button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-style: double;
  padding: 0.5rem;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;

  

}

button:hover{
  background: #84cce9;
}


button a {
  color: #13a1da;
  text-decoration: none;
  font-size: 1.75rem;
  font-family: var(--fonte--primaria);

}

button a:hover{
  color: rgb(0, 68, 255);
}
 */
.apresentacao {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5rem;
  width: 50%;
  height: 50%;

}

.apresentacao img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 8px;
}


.img_perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}


.apresentacao__conteudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5rem;
  font-size: 1.25rem;
  width: 50%;
  height: 50%;
  padding-bottom: 1.5rem;
  font-family: var(--fonte--secundaria);
}

.text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.redes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.links {
  display: flex;
  gap: 2rem;
  transition: 500ms linear;

}

.links a:hover {
  transform: scale(1.1);


}

strong {
  color: aqua;
  font-weight: 700;
}

/* The switch - the box around the slider */
#theme-toggle-button {
  display: flex;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  display: flex;
  justify-content: center;
  opacity: 0;
  width: 0;
  height: 0;
  align-items: center;

}




#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked+svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked+svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked+svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked+svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked+svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked+svg #stars {
  opacity: 1;
}

.titulo_destaque {
  font-size: 2.25rem;
  font-family: var(--fonte--primaria);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.subtitulo {
  font-size: 1.25rem;
  font-family: var(--fonte--secundaria);
  padding-bottom: 3.5rem;

}

#meus_projetos {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.repositorio {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 3.5rem;


}


.projeto {
  display: flex;
  box-shadow: 0 0 10px 0 rgba(203, 201, 201, 0.8);
  box-sizing: border-box;
  /*   border-color: #ececec;
 
  border-style: outset; */
  text-align: justify;
  width: 16rem;
  height: 27rem;
  transition: 500ms linear;
  border-radius: 6px;


}

.projeto:hover {
  transform: scale(1.05);
}

.projeto img {
  width: 100%;
  height: 50%;
}

.projeto p {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.8rem;


}

a {
  text-decoration: none;
  color: var(--text-color-dark), var(--text-color-light);
  font-family: var(--fonte--secundaria)
}

.mais:hover {
  color: #e96f1d;
}







/* estilização para button de download  de curriculo e certificado*/
.button {
  --width: 10rem;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
 
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: Montserrat, sans-serif;
  ;
  transition: background 0.3s;
}

/* .button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
  
} */

/* .button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
 
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
} */

.button::after, .button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper, .text, .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text, .icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #5b8294;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before, .button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}



footer{
  position: relative;
  width: 100%;
  background-color: #1163ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer img{
  width: 5rem;
  height: 5rem;
}

footer p{
  color: #B9B9B9;
  
}