@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

:root {
  color-scheme: dark light;
  --fonte--primaria:'Krona One', sans-serif;
  --fonte--secundaria:'Montserrat', sans-serif;
}

body {
  background-color: dark light(rgb (37, 37, 37), #ececec);
  font-family: Montserrat, sans-serif;
/*   word-break: break-all; 
 */}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 30px 5px 30px;
  gap: 5rem;
}

section{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
 
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 5rem;
  align-items: center;

}


ul a {
  color: #13a1da;
  font-family: var(--fonte--primaria);
  text-decoration: none;
  font-size: 1.25rem;
}

ul a:hover{
  color: #e96f1d;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3.5rem;

}


.cv{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 4rem;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-style: double;
  padding: 0.5rem;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;

  

}

button:hover{
  background: #84cce9;
}


button a {
  color: #13a1da;
  text-decoration: none;
  font-size: 1.75rem;
  font-family: var(--fonte--primaria);

}

button a:hover{
  color: rgb(0, 68, 255);
}

.apresentacao{
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5rem;
  width: 50%;
  height: 50%;

}

.apresentacao img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 8px;
}


.apresentacao__conteudo{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5rem;
  font-size: 1.25rem;
  width: 50%;
  height: 50%;
}

.text{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.redes{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3.5rem;
}

.links{
  display: flex;
  gap: 2rem;
  transition: 500ms linear;

}

.links a:hover{
  transform: scale(1.1);


}

strong{
  color: aqua;
  font-weight: 700;
}

/* The switch - the box around the slider */
#theme-toggle-button {
  display: flex;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
  align-items: center;

}




#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked+svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked+svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked+svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked+svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked+svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked+svg #stars {
  opacity: 1;
}

.titulo_destaque{
  font-size: 2.25rem;
  font-family: var(--fonte--primaria);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.subtitulo{
  font-size: 1.25rem;
  font-family: var(--fonte--secundaria);
  padding-bottom: 3.5rem;

}

#meus_projetos,
.redes{
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.repositorio{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 3.5rem;


}


.projeto {
  display: flex;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(203, 201, 201, 0.2);
  box-sizing: border-box;
  border-color: #ececec;
  border-style: outset;
  text-align: justify;
  width: 16rem;
  height: 27rem;

}

.projeto img{
  width: 100%;
}

.projeto p{
padding: 0.4rem;
}

a{
  text-decoration: none;
}

.mais:hover{
  color: #e96f1d;
}